<p id="notice"><%= notice %></p>


<br>
<br>

<center> <h1>Our Goal</h1> 


<p> Top Five is an application that provides the best Five places of everything in the city you are in, because we believe<br> you deserve the best places that help you to enjoy your short trip in any city you visit or what is trending places in your citys.
</p>

</center>

<br>

<div class="row">

  <div class="column">
    <div class="card-body">
    
    <div class="card">
    <img src="https://files.virgool.io/upload/users/14379/posts/jj1rtxvplzdu/cwfqxxks2jk0.jpeg" class="card-img-top" alt="imge" height="200px">
    <h5 class="card-title">Breakfast</h5>
    <p class="card-text"> Best breackfast in the city for this month</p>
    <%= link_to 'Top Five ', breakfasts_path, class:"btn btn-primary" %> 
  </div>

    
    </div>
  </div>

    <div class="column">
    <div class="card-body">

     <div class="card">
    <img src="https://gbc-cdn-public-media.azureedge.net/img53907.768x512.jpg" class="card-img-top" alt="imge" height="200px">
    <h5 class="card-title">Cafes</h5>
    <p class="card-text"> Best cafes in the city for this month</p>
   <%= link_to 'Top Five ', caves_path, class:"btn btn-primary" %>
  </div>

  </div>
    
    </div>
 


  <div class="column">
   <div class="card-body">
    <div class="card">
    <img src="https://scm-assets.constant.co/scm/unilever/e9dc924f238fa6cc29465942875fe8f0/b8123531-a4b6-45b7-aebf-032789c60b30.jpg" class="card-img-top" alt="imge" height="200px">
    <h5 class="card-title">Resturants</h5>
    <p class="card-text"> Best resturants in the city for this month</p>
    <%= link_to 'Top Five ', resturants_path, class:"btn btn-primary"  %>

  </div>
    
    </div>
  </div>

</div>
